/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --background: url(../images/cover-image-dark.png);
  --background-color: #000028;
  --accent-color: #ff0070;
  --header-color: rgba(255, 0, 112);
  --color-subtitle: #ff0070;
  --color-text: #f1b2ce;
  --title-color: #db00ff;
  --decorated-p: flex;
}
