/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --background: url(../images/cover-image-light.png);
  --background-color: #fff1f7;
  --accent-color: #ff8dcb;
  --header-color: rgba(53, 52, 48);
  --color-subtitle: #353430;
  --color-text: #353430;
  --title-color: #ffc2e6;
  --decorated-p: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: url(../images/cover-image-light.png);
    --background-color: #fff1f7;
    --accent-color: #ff8dcb;
    --header-color: rgba(53, 52, 48);
    --color-subtitle: #353430;
    --color-text: #353430;
    --title-color: #ffc2e6;
    --decorated-p: none;
  }
}
