/*
  Переменные для вашего проекта 
  и их переопределение под различные устройства
*/

:root {
  --background: url(../images/cover-image-dark.png);
  --background-color: #000028;
  --accent-color: #ff0070;
  --header-color: #ff0070;
  --color-text: #F1B2CE;
  --title-color: #db00ff;
  --decorated-p: flex;
}
